@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@600&family=Vibur&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
  margin:0;
  background: #0c0c0c !important;
  height: 210vh;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c0c0c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@keyframes NavtransitionIn {
  from {
      opacity: 0;
      transform: translateY(-40px);
      transition: all 1s ease;
  }
  to {
      opacity: 1;
      transform: translateX(0);

  }
}
nav {
  animation: NavtransitionIn 1s;
  margin: 0 2em;
  .navbar-brand{
    text-align: center;
    b{
      font: 400 4rem "Vibur";
      color: #fee;
      text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    }
    span{
      animation: blink linear infinite 2s;

      &:nth-of-type(2){
        animation: blink linear infinite 3s;
      }
    }
  }
  #menu-btn {
    display: none;
  }
  #menu-btn:checked ~ .nav {
    margin-top: 0;
  }
  .navbar-toggler {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 238, 238, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
  
  .collapse {
    ul {
      margin-top: 0em;
    transition: all 1s;
      width: 100vw;
    position: fixed;
    height: 100%;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
        background-color: #0c0c0ce9;
        z-index: 1;
        text-align: center;
      li {
        margin-top: 4em;
          .hover-underline-animation {
              font-size: 1.2rem;
              display: inline-block;
              position: relative;
              // margin: 20px;
              &:hover {
                font-weight: 500;
              }
          }
          .hover-underline-animation:after {
              content: '';
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: #ff4444;
              transform-origin: bottom right;
              transition: transform 0.25s ease-out;
            }
            
            .hover-underline-animation:hover:after {
              transform: scaleX(1);
              
              transform-origin: bottom left;
            }
      }
    }
  }
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

main {
  margin: 10em 0;
  .main-text {
    h1 {
      font-family: 'Bebas Neue';
      font-size: 2.5rem;
    }
    p {
      text-align: justify;
      padding: 0 2em 0 2em;
    }
  }
  .button {
    font-family: 'Raleway' !important;
    font-weight: 600;
    color: #ff4444;
    border: 6px solid #ff4444;
    border-radius:15px;
    padding: 10px 20px;
    font-size: 10px;
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing:5px;
    cursor: pointer;
    filter: drop-shadow(0 0 15px #ff4444) drop-shadow(0 0 50px #ff4444) contrast(1) brightness(.8);
    transition: .5s;
  }
  
  .button:hover {
    color: white;
    background-color: #ff4444;
    filter: drop-shadow(0 0 20px #ff4444) contrast(1) brightness(1);
  }
  
}
.offer {
  display: none;
  margin: 15em 0;
  h2 {
    filter: drop-shadow(0 0 20px #ff4444) contrast(1) brightness(1);
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  span {
    font-size: 1.3rem;
    font-weight: bold;
    filter: drop-shadow(0 0 20px #ff4444) contrast(1) brightness(1);
  }
  .offer-card {
    border: 2px solid #00000067;
    box-shadow: 0px 10px 15px 2px #0000003e;
    border-radius: 5px; 
    
    padding: 2em;

    &:hover {
      box-shadow: 0px 10px 15px 10px #00000081;
      cursor: pointer;
      transition: 200ms;
      .fa-solid {
        filter: drop-shadow(0 0 20px #ff4444) contrast(1) brightness(1);
        color: white;
      }
    }
    .fa-solid {
      font-size: 2.5rem;
      color: #ff4444;
      
    }
    p {
      text-align: justify;
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  nav {
    .collapse {
      ul {
        position: absolute;
        bottom: auto;
        left: auto;
        margin-top: -5em;
        transition: all 1s;
        margin-right: -43vw;
        background-color: transparent;
        z-index: 1;
        text-align: center;
      }
    }
  }
  main {
    margin: 13em 0;
    .main-text {
      h1 {
        font-size: 3rem;
      }
      p {
        padding: 0;
      }
    }
    .button {
      font-size: 14px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  main {
    margin-top: 11em;
    .main-text {
      h1 {
        font-size: 4rem;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }